* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background: black;
    color: white;
    background-image: none;
    scroll-behavior: smooth;
    overflow: scroll;
}

.all {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle {
    display: flex;
    flex-direction: row;
}

.circle-wrap {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    width: 150px;
    height: 150px;
    background: #d9d7da;
    border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4,
.circle-wrap .circle .fill-5,
.circle-wrap .circle .fill-6,
.circle-wrap .circle .fill-7 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #212020;
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: white;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.mask .fill-1,
.mask .fill-2,
.mask .fill-3,
.mask .fill-4,
.mask .fill-5,
.mask .fill-6,
.mask .fill-7 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #23b9ea;
}


/* color animation */

.mask.full-1,
.circle .fill-1 {
    animation: fill-1 ease-in-out 3s;
    transform: rotate(175deg);
}

@keyframes fill-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(175deg);
    }
}


/* 2nd bar */

.mask.full-2,
.circle .fill-2 {
    animation: fill-2 ease-in-out 3s;
    transform: rotate(170deg);
}

@keyframes fill-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(170deg);
    }
}


/* 3rd progress bar */

.mask.full-3,
.circle .fill-3 {
    animation: fill-3 ease-in-out 3s;
    transform: rotate(165deg);
}

@keyframes fill-3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(165deg);
    }
}


/* jdbc */

.mask.full-4,
.circle .fill-4 {
    animation: fill-4 ease-in-out 3s;
    transform: rotate(179deg);
}

@keyframes fill-4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(179deg);
    }
}


/* js */

.mask.full-5,
.circle .fill-5 {
    animation: fill-5 ease-in-out 3s;
    transform: rotate(158deg);
}

@keyframes fill-5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(158deg);
    }
}


/* C */

.mask.full-6,
.circle .fill-6 {
    animation: fill-6 ease-in-out 3s;
    transform: rotate(145deg);
}

@keyframes fill-6 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(145deg);
    }
}


/* C++ */

.mask.full-7,
.circle .fill-7 {
    animation: fill-7 ease-in-out 3s;
    transform: rotate(140deg);
}

@keyframes fill-7 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(140deg);
    }
}


/* Progress bars End */

.background1,
.background2 {
    /* height: 50vh; */
    background-image: url(/Asserts/bgfor1.png);
    /* background-color: transparent; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.background2 {
    background-image: none;
}

@media screen and (max-width:768px) {
    .background2 {
        background-image: url(./Asserts/bgfor1.png);
    }
}


/* card AA Start */

.card-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 400px;
    width: 280px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    margin: 30px;
    background-image: url(./Asserts/Achievements&Awards.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.content-1 {
    text-align: center;
    padding: 20px;
    color: white;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;
}

.content-1 h1 {
    position: absolute;
    top: -80px;
    left: 30%;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.content-1 h2 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.content-1 p {
    font-size: 1em;
    color: #fff;
    font-weight: 300px;
}

.content-1 a {
    position: relative;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card-1:hover .content-1 {
    transform: translateY(0px);
    opacity: 1;
}


/* card AA End */